.avatar-card {
	display: flex;
	background: white;
	border-radius: 6px;
	border: 1px solid black;
}

.avatar-card__image {
	height: 100%;
	object-fit: cover;
}

.avatar-card__content {
	width: 55%;
	flex-shrink: 0;
}

.avatar-card__content-inner {
	padding: 5px;
}