.avatar-card {
	display: flex;
	background-color: white;
	border-radius: 6px;
	font-size: 14px;
}

.avatar-card__image {
	height: 100%;
	object-fit: cover;
}

.avatar-card__content {
	width: 55%;
	flex-shrink: 0;
}

.avatar-card__content-inner {
	padding: 15px 10px;
}

.avatar-card__title {
	font-size: 1.2em;
	margin-bottom: 10px;
	font-weight: $fontWeightBold;
}

.avatar-card__content-text {
	margin-bottom: 10px;
}