.card-grid {
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 175px;
	gap: 15px;
	margin-block-end: $siteSpacerLg;
}

/* Media Queries */

@include mq($from: screen600) {

	.card-grid {
		grid-template-columns: 1fr 1fr;
	}
}

@include mq($from: screen740) {

	.card-grid {
		grid-template-columns: 1fr 1fr 1fr;
	}
}