.search-ui {
	display: flex;
	font-size: 22px;
	margin-block-end: 30px;
}

.search-ui__input {
	padding: 0 10px;
	border: 1px solid black;
	padding-right: calc(1em + 20px);
}

.search-ui__icon {
	width: 1em;
	height: 1.5em;
	margin-inline-start: 10px;
	position: relative;
	margin-left: calc(-1em - 10px);
	top: 2px;
}