.row-padding--small {
	padding-top: 30px;
	padding-bottom: 30px;
}

.row-padding--medium {
	padding-top: 45px;
	padding-bottom: 45px;
}

.row-padding--large {
	padding-top: 60px;
	padding-bottom: 60px;
}

.row-padding--xlarge {
	padding-top: 75px;
	padding-bottom: 75px;
}