html {
  font-size: 16px;
}

img {
  max-width: 100%;
}

:focus {
  outline: $black solid 1px;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  margin-bottom: 15px;
}

ul {
  margin: 0;
  margin-bottom: 15px;
  padding-left: 1.5em;

  li::marker {
    color: $yellow;
    font-size: 1.5em;
  }
}

address {
  font-style: normal;
}

input:is([type="text"], [type="date"], [type="email"], [type="month"], [type="number"], [type="password"], [type="search"], [type="tel"], [type="url"], [type="week"]) {
  height: 40px;
}

.svg {
  fill: currentcolor;
  stroke: currentcolor;
}

.site-body {
  min-height: 100vh;
  height: 100%;
  background: #00d1cb;
  padding: 40px;
}

.site-root {
  max-width: 1000px;
  margin: 0 auto;
  border-radius: 5px;
  overflow: hidden;
}

.site-content {
  background-color: white;
  padding: 15px;
}