html {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFontFamily;
  font-weight: $fontWeightLight;
  margin: 0;
}

.h1 {
  font-family: $headerFontFamily;
  font-size: 32px;
  font-weight: $fontWeightBold;
  @include fluid-type(24px, 32px);
  margin-bottom: $siteSpacerLg;
}

.bold {
  font-weight: $fontWeightBold;
}