html {
  font-family: 'Barlow', sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $headerFontFamily;
  font-weight: $fontWeightLight;
  margin: 0;
}

.h1 {
  font-size: 32px;
  font-weight: $fontWeightBold;
  margin-bottom: $siteSpacerLg;
}

.h2 {
  font-size: 26px;
  margin-bottom: 30px;
}

.bold {
  font-weight: $fontWeightBold;
}