// ---------------------------
// colours
// ---------------------------

$white: #ffffff;
$black: #000000;
$lightGrey: #E6E6E6;
$darkGrey: #2b2b2b;
$grey: #3A3939;
$greyHover: #707070;
$cyan: #48C8A2;
$red: #C8486F;


$darkGreyFade: rgba(0, 0, 0, 0.40);

// fonts
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 500;
$fontWeightBold: 600;

$headerFontFamily: 'Barlow Condensed', sans-serif;

$siteSpacer: 15px;
$siteSpacerLg: 30px;
$siteSpacerXl: 40px;

$gutters: (
	"mobile": 25px,
	"desktop": 20px,
	"desktop-large": 30px
);